.engagement-photo-container {
  position: relative;
}

.engagement-photo {
  background-image: url('../assets/images/parthenon_sitting.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parralax effect */
  height: 100svh;
}

.countdown {
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 1rem;
  z-index: 10;
}

.overview-details {
  overflow-y: auto;
  background-color: var(--secondary-brown);
  text-align: center;
  padding: 20px;
}

.rsvp {
  overflow-y: auto;
  background-color: var(--secondary-green);
  align-items: center;
  padding: 20px;
}

.other-page-links {
  overflow-y: auto;
  background-color: var(--secondary-brown);
  text-align: center;
  padding: 20px;
}

.our-story-container {
  position: relative;
  text-align: center;
  background-color: var(--secondary-green);
  overflow-y: auto;
}

.our-story {
  background-image: url('../assets/images/parthenon_sitting.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100svh;
}

/* Mobile View */
@media (max-width: 768px) {
  .engagement-photo {
    height: 60svh;
    background-attachment: scroll;
  }

  .our-story {
    height: 60svh;
  }
}
