/* Desktop View */
.engagement-photo {
  background-image: url('../assets/images/parthenon_sitting.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parralax effect */
  height: 90svh;
}

.overview-details {
  overflow-y: auto;
  background-color: var(--primary-green);
  text-align: center;
  height: 500px;
}

/* Mobile View */
@media (max-width: 768px) {
  .engagement-photo {
    height: 60svh;
    background-attachment: scroll;
  }
}
