.engagement-photo-container {
  position: relative;
}

.engagement-photo {
  background-image: url('../assets/images/parthenon_sitting.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parralax effect */
  height: 90svh;
}

.countdown {
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 1rem;
  z-index: 10;
}

.overview-details {
  overflow-y: auto;
  background-color: var(--primary-green);
  text-align: center;
}

/* Mobile View */
@media (max-width: 768px) {
  .engagement-photo {
    height: 60svh;
    background-attachment: scroll;
  }
}
