.menu-section-container {
  background-color: var(--secondary-brown);
  overflow-y: auto;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.menu-section-container a {
  transition: all 0.3s ease;
  color: var(--bold-brown);
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.02em;
  font-weight: 700;
}

.menu-section-container a:hover {
  letter-spacing: 0.15em;
}
