@font-face {
  font-family: 'NunitoSans';
  src: url('../assets/fonts/nunito-sans-v18-latin-regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NunitoSans', sans-serif;
  font-weight: normal;
}

body {
  /* TODO: DETERMINE COLOR
  /* background-color: #566f4d; */
  /* background-color: #b4b7a0; */
  /* background-color: #5e4838; */
  background-color: #958375;
  margin: 0;
  padding: 0;
}
