.overview-detail-box-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.overview-detail-box {
  text-align: center;
  background-color: var(--secondary-green);
  padding: 20px;
  border-radius: 50px;
}

.overview-detail-box h1 {
  justify-content: center;
}

@media (max-width: 768px) {
  .overview-detail-box-container {
    flex-direction: column;
  }
}
