.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.rsvp-container {
  background-color: var(--primary-green);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.rsvp-container.collapsed {
  width: 200px;
  height: 60px;
  transform: scale(1);
}

.rsvp-container.expanded {
  width: 400px;
  height: 300px;
  transform: scale(1);
}

.expand-trigger-button {
  background-color: var(--primary-green);
  padding: 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
}

.rsvp-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
  width: 100%;
}

.rsvp-container.expanded .rsvp-form {
  opacity: 1;
  transform: scale(1);
}

.rsvp-form h1 {
  font-size: 30px;
  text-align: center;
}
